<section class="benefits">
   <div class="container">
   
    <input
    type="checkbox"
    class="header-theme-checkbox theme-checkbox"
    id="change-theme"
  />
  <label for="change-theme" class="visually-hidden">Change theme</label>
    
        <h2 class="benefits-title js-title"><span class="green-title">benefits</span> of working with me</h2>
        <ul class="benefits-list">
            <li class="benefits-item">
                <div class="benefits-item-icon">
                    <svg class="benefits-icon" width="24" height="24">
                        <use href="./img/icons.svg#user"></use>
                    </svg>
                </div>
                <h3 class="benefits-subtitle">Expertise</h3>
                <p class="benefits-item-description">With extensive experience in development, I have a deep understanding of programming and website development.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-item-icon">
                    <svg class="benefits-icon" width="24" height="24">
                        <use href="./img/icons.svg#message"></use>
                    </svg>
                </div>
                <h3 class="benefits-subtitle">Communication</h3>
                <p class="benefits-item-description">Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-item-icon">
                    <svg class="benefits-icon" width="24" height="24">
                        <use href="./img/icons.svg#brush"></use>
                    </svg>
                </div>
                <h3 class="benefits-subtitle">Art</h3>
                <p class="benefits-item-description">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-item-icon">
                    <svg class="benefits-icon" width="24" height="24">
                        <use href="./img/icons.svg#hourglass"></use>
                    </svg>
                </div>
                <h3 class="benefits-subtitle">Urgent execution</h3>
                <p class="benefits-item-description">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
            </li>
        </ul>
   </div>
</section>
