<section class="tech-skills container">
  <div class="tech-term">
    <div class="tech-term-first">
      <div class="term-first">
        <h1 class="visually-hidden">Tech-skills</h1>
        <ul class="tech-skills-list">
          <li class="tech-skills-item first">HTML/CSS</li>
          <li class="tech-skills-item first">JavaScript</li>
          <li class="tech-skills-item first">React</li>
          <li class="tech-skills-item first">Node. js</li>
          <li class="tech-skills-item first">React Native</li>
          <li class="tech-skills-item first">Typescript</li>
        </ul>
      </div>
    </div>
    <div class="tech-term-second">
      <div class="term-second">
        <ul class="tech-skills-list">
          <li class="tech-skills-item second">HTML/CSS</li>
          <li class="tech-skills-item second">JavaScript</li>
          <li class="tech-skills-item second">React</li>
          <li class="tech-skills-item second">Node. js</li>
          <li class="tech-skills-item second">React Native</li>
          <li class="tech-skills-item second">Typescript</li>
        </ul>
      </div>
    </div>
  </div>
</section>

