html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'Montserrat', 'Impact', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}

.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
