:root {
  --hover-green-color: #009156;
  --error-color: #e74a3b;
  /* Fonts */
  --first-font-family: 'Poppins', sans-serif;
  --second-font-family: 'Impact', sans-serif;
  --third-font-family: 'Montserrat', sans-serif;
}

:root .light-theme {
  --main-color: #f0f0f0;
  --main-text-color: #292929;
  --title-accent-green-color: #00b068;
  --hero-btn: #bcdfd1;
  --hero-btn-hover: #00b068;
  --gray: #e4e5e6;
  --gray-hover: #bbbbbb;
  --link-color: #292929;
  --link-color-hover: #00b068;
  --tech-skills-green: #bcdfd1;
  --message-btn: #00b068;
  --message-btn-hover: #009156;
}

:root .dark-theme {
  --main-color: #1e2023;
  --main-text-color: #f0f0f0;
  --title-accent-green-color: #14c57c;
  --hero-btn: #14c57c;
  --hero-btn-hover: #009156;
  --gray: #2a2d32;
  --gray-hover: #3b3f45;
  --link-color: #f0f0f0;
  --link-color-hover: #14c57c;
  --tech-skills-green: #204136;
  --message-btn: #14c57c;
  --message-btn-hover: #009156;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  /* background-color: #1E2023; */
  font-family: 'Poppins', 'Montserrat', 'Impact', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}

.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
