:root {
  --black-color-light-th: #292929;
  --accet-green-color-light-th: #00b068;
  --white-color: #f0f0f0;
  --light-grey-color-light-th: #e4e5e6;
  --light-accet-green-color-light-th: #bcdfd1;
  --hover-green-color: #009156;
  --error-color: #e74a3b;
  --hover-grey-color-light-th: #bbbbbb;
  --black-color-dark-th: #1e2023;
  --accet-green-color-dark-th: #14c57c;
  --charcoal-color-dark-th: #2a2d32;
  --dark-accet-color-dark-th: #204136;
  --hover-charcoal-color-dark-th: #2a2d32;
  --first-font-family: 'Poppins', sans-serif;
  --second-font-family: 'Impact', sans-serif;
  --third-font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  /* background-color: #1E2023; */
  font-family: 'Poppins', 'Montserrat', 'Impact', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}

.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
