.faq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  width: 360px;
  padding: 0 20px;
}

.faq-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}

.highlight {
  color: #00b068;
}

.faq-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.question-button-div {
  display: flex;
  justify-content: space-between;
  width: 272px;
}

.faq-item {
  background-color: #bcdfd1;
  border-radius: 16px;
  padding: 28px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 320px;
  height: auto;
  position: relative;
}

.faq-question {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-right: 16px;
  width: auto;
}

.faq-question-alt {
  width: 216px;
}

.faq-answer {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 272px;
  height: auto;
  font-size: 16px;
  color: #5c5c5c;
}

.accordion-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 8px;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 24px;
}

.accordion-icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: #292929;
  stroke-width: 2;
}

@media screen and (min-width: 768px) {
  .faq {
    width: 768px;
  }

  .faq-title {
    width: 592px;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
  }

  .faq-item {
    width: 704px;
  }

  .question-button-div {
    width: 656px;
  }

  .faq-question {
    font-size: 20px;
    line-height: 1.6;
    margin-right: 24px;
    width: 600px;
  }

  .faq-answer {
    width: 656px;
  }
}
